<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#!">Start Bootstrap</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Contact</a>
            </li>
          </ul>

          <div class="btn-group">
            <button
              type="button"
              class="btn btn-danger dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Profile
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"><%= userData.name %></a></li>
              <li><a class="dropdown-item"><%= userData.email %></a></li>
              <li>
                <a class="dropdown-item text-danger" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4" style="background-image: url('https://mcdn.wallpapersafari.com/medium/75/52/y59NMH.jpg');">
      <div class="container text-white" >
        <div class="text-center my-5">
          <h1 class="fw-bolder">
            Blogs are filtered <%= categoryName %> category
          </h1>
        </div>
      </div>
    </header>
    <!-- Page content-->
    <div class="container">
      <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
          <!-- Featured blog post-->

          <!-- Nested row for non-featured blog posts-->
          <div class="row">
            <% if (data.length<1) { %>
            <h2>No blog found in <%= categoryName %> category</h2>
            <% } else { data.map(v=>{ %>

            <div class="col-5 card m-4">
              <a href="#!"
                ><img
                  class="card-img-top"
                  src="/uploads/<%= v.thumbnail[0].filename %>"
                  alt="thumbImg"
              /></a>
              <div class="card-body">
                <div class="small text-muted">
                  Published on: <%= v.publishDate.toLocaleString() %>
                </div>
                <h2 class="card-title h4"><%= v.name %></h2>
                <p class="card-text"><%- v.subtitle %>...</p>
                <a class="btn btn-primary" href="/home/<%= v.slug  %>"
                  >Read more →</a
                >
              </div>
            </div>
            <% }) } %>
            <!-- Blog post-->

            <!-- Blog post-->
          </div>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
          <!-- Search widget-->
          <div class="card mb-4">
            <div class="card-header">Search</div>
            <div class="card-body">
              <form class="input-group" action="/home" method="get">
                <input
                  class="form-control"
                  type="text"
                  id="search-input"
                  name="searchTerm"
                  placeholder="Enter search term..."
                  aria-label="Enter search term..."
                  aria-describedby="button-search"
                />
                <button
                  class="btn btn-primary"
                  id="button-search"
                  type="submit"
                >
                  Go!
                </button>
              </form>
            </div>
          </div>
          <!-- Categories widget-->
          <div class="card mb-4">
            <div class="card-header">Categories</div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <ul class="list-unstyled mb-0 row">
                    <% categoryData.map(l=>{ %>
                    <li class="col-6">
                      <a href="/home/category/<%= l.categoryName %>"
                        ><%= l.categoryName %></a
                      >
                    </li>

                    <% }) %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Side widget-->
          <div class="card mb-4">
            <div class="card-header">Side Widget</div>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They
              are easy to use, and feature the Bootstrap 5 card component!
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2022
        </p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!-- Core theme JS-->
  </body>
</html>
