<head>
  <link rel="stylesheet" href="/css/style.css" />
  <style>
    .page-link {
      width: 120px;
      background-color: black;
      color: aliceblue;
    }
    .previous {
      color: black;
    }
    .pagination {
      color: black;
    }
  </style>
</head>

<body>
  <!-- Sidenav -->
  <% include ../partials/sidebar %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/navbar %>
    <!-- Page content -->
    <div class="d-flex flex-column gap-4 bg-gradient-primary py-8 px-1 px-md-6" style="height: max-content;">
      <div class="header text-center">
        <h1 class="text-light text-decoration-underline">All Blogs</h1>
      </div>
      <div class="table-responsive px-3 text-white">
        <table id="example" class="table table-white">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Thumbnail</th>
              <th scope="col">Publish Date</th>
              <th scope="col">Title</th>
              <th scope="col">Category</th>
              <th scope="col">Description</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <% if(data.length<1){ %>
            <tr>
              <td colspan="5" class="text-center">
                No data available in database
              </td>
            </tr>
            <% } else{ data.map((v, i)=>{ %>
            <tr>
              <td><%= i+1 %></td>
              <td>
                <img
                  src="uploads/<%= v.thumbnail[0].filename  %>"
                  alt="thumbnail"
                  style="width: 69px"
                />
              </td>
              <% const date = v.publishDate.getDate()
              +"-"+v.publishDate.getMonth() +"-"+v.publishDate.getFullYear() %>
              <td><%= date %></td>
              <td><%= v.name %></td>
              <td><%= v.category %></td>
              <td><%= v.description.slice(0,50) %>...</td>
              <td>
                <a class="edit-btn" href="/blogs/<%= v._id  %>"
                  ><i class="fa fa-duotone fa-pen-to-square"></i
                ></a>
              </td>
              <td>
                <i
                  id="<%= v._id  %>"
                  class="delete-btn fa fa-duotone fa-trash"
                ></i>
                <!-- <img id="<%= v.id  %>" class="delete-btn" src="https://img.icons8.com/fluency/24/null/delete-forever.png"/> -->
              </td>
            </tr>
            <% }) }%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Include scripts -->
  <% include ../partials/scripts %>

  <script>
    const delBlog = document.querySelectorAll(".delete-btn");
    delBlog.forEach((item) => {
      item.addEventListener("click", (e) => {
        const endpoint = `/blogs/${item.id}`;
        console.log(endpoint);
        fetch(endpoint, { method: "DELETE" })
          .then((response) => response.json())
          .then((data) => {
            window.location.href = data.redirect;
          })
          .catch((err) => {
            console.log(err);
          });
      });
    });
  </script>
</body>
