<body>
    <!-- Sidenav -->
    <% include ../partials/sidebar %>
    <!-- Main content -->
    <div class="main-content">
      <!-- Top navbar -->
      <% include ../partials/navbar %>
  
      <div class="bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
  
          <h1 class="text-white">Update Blogs</h1>
              <form class="text-white" action="/blogs/update/<%= data._id  %>" method="post">
                <div class="mb-3">
                  <label for="exampleInputname1" class="form-label"
                    >Blog title</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputname1"
                    aria-describedby="emailHelp"
                    name="name"
                    value="<%= data.name %>"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="select">Select category</label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    style="
                      width: 100%;
                      border: 0.1em solid rgb(193, 193, 193);
                      border-radius: 5px;
                      color: rgb(116, 116, 116);
                      background-color: white;
                    "
                    name="category"
                    required
                  >
                    <option selected value="<%= data.category  %>"><%= data.category  %></option>
                    <option value="sports">sports</option>
                    <option value="educational">educational</option>
                    <option value="business">business</option>
                    <option value="programming">programming</option>
                    <option value="current affair">current affair</option>
                    <option value="other">other</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="exampleInputDescription1" class="form-label"
                    >Description</label
                  >
                  <textarea
                    type="text"
                    class="form-control"
                    id="exampleInputDescription1"
                    name="description"
                    value="<%= data.description %>"
                    required
                  ><%= data.description %></textarea>
                </div>
  <div class="from-gropup">
    <button type="submit" class="btn btn-white">Update Blog</button>
    <button type="reset" class="btn btn-danger">Cancel</button>
  </div>
              </form>
            
   
        </div>
      </div>
  
      <!-- <div class="container-fluid mt--3">
  
        <% include ../partials/footer %>
      </div> -->
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBd3PjUqq81lIOfBPYXrQGWwK5T4ystZjA"></script>
  
    <!-- Include scripts -->
    <% include ../partials/scripts %>
  </body>
  