<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Start your development with a Dashboard for Node.js."
    />
    <meta name="author" content="Creative Tim" />
    <title>Argon Dashboard - Free Node.js Dashboard</title>
    <!-- Favicon -->
    <link href="/img/brand/favicon.png" rel="icon" type="image/png" />
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
    />
    <!-- Icons -->
    <link href="/vendor/nucleo/css/nucleo.css" rel="stylesheet" />
    <link
      href="/vendor/@fortawesome/fontawesome-free/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Argon CSS -->
    <link type="text/css" href="/css/argon.min.css?v=1.0.0" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <!-- Sidenav -->
    <% include ../partials/sidebar %>
    <!-- Main content -->
    <div class="main-content">
      <!-- Top navbar -->
      <% include ../partials/navbar %>
      <!-- Page content -->
      <div class="container-fluid mt-3">
        <!-- Table -->
        <div class="row">
          <div class="col">
            <h1>Update Blog data</h1>
            <div class="card shadow">
              <form
                class="m-4"
                action="/blogs/update/<%= data._id  %>"
                method="post"
              >
                <div class="mb-3">
                  <label for="exampleInputname1" class="form-label"
                    >Blog title</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputname1"
                    aria-describedby="emailHelp"
                    name="name"
                    value="<%= data.name %>"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="select">Select category</label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    style="
                      width: 100%;
                      border: 0.1em solid rgb(193, 193, 193);
                      border-radius: 5px;
                      color: rgb(116, 116, 116);
                      background-color: white;
                    "
                    name="category"
                    required
                  >
                    <option selected value="<%= data.category  %>">
                      <%= data.category %>
                    </option>
                    <% if(catd.length>1){ catd.map(v=>{ %>
                    <option value="<%= v.categoryName %>">
                      <%= v.categoryName %>
                    </option>
                    <% }) }%>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="exampleInputDescription1" class="form-label"
                    >Description</label
                  >
                  <textarea
                    type="text"
                    class="form-control"
                    id="exampleInputDescription1"
                    name="description"
                    value="<%= data.description %>"
                    required
                  >
<%= data.description %></textarea
                  >
                </div>

                <button type="submit" class="btn btn-white">Update Blog</button>
              </form>
            </div>
          </div>
        </div>
        <!-- Dark table -->

        <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>

    <!-- Include scripts -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Optional JS -->
    <script src="/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/vendor/chart.js/dist/Chart.extension.js"></script>
    <!-- Argon JS -->
    <script src="public/js/argon.min.js?v=1.0.0"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
      integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
